[submodule "static/common/reveal.js"]
	path = static/common/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "public/fr"]
	path = public/fr
	url = https://github.com/bpesquet/bpesquet.fr
