{{ define "main" }}
    <h1>{{ .Title }}</h1>

    <p class="single-info">
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            Dernière modification le {{ .Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}.
        </time>
        <br>
    </p>

    <!-- related publications -->
    {{ $related := where (.Site.RegularPages.RelatedIndices . "course" ) "Type" "publication" }} 
    {{ with $related }}
        <h3>{{ i18n "relatedPublications" }}</h3>
        {{ range .ByPublishDate.Reverse }} {{ .Render "li" }} {{ end }} 
    {{ end }}

    <p>
        <div class="text-justify">{{ .Content }}</div>
    </p>

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}
        <h3 class="page-header">{{ i18n "comments" }}</h3>
        {{ template "_internal/disqus.html" . }}
    {{ end }}
{{ end }}